{% from 'macros.html' import displayField %}

<style>
    .textbox {
        border: none;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
        width: 400px;
        height: 100px;
        resize: none;
        text-align: left;
    }
</style>


<form method="POST" action="">
    {{ form.csrf_token }}
    <textarea type="freeform" name="content" class="textbox" placeholder="{{ session.get('content', 'Enter your text here') }}" required></textarea>
    <button type="submit" name="submit">Submit</button>
</form>

<html>
<head>
    <title>Get Classification</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>

    <script>
        var classProbabilities = {{ session['results'] }};
        var classNames = {{ session['class_names']|tojson }};

        var data = {
            labels: classNames,
            datasets: [{
                label: 'Class Probabilities',
                data: classProbabilities,
                backgroundColor: '#87CEEB',
                borderColor: '#87CEEB',
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: 1
                }
            }
        };

        var ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    </script>
</body>
</html>

